<head>
    <meta charset="utf-8">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="manifest" href="{{ site.url }}/manifest.json">
	{% if page.custom_css %}
	  {% for stylesheet in page.custom_css %}
	  <link rel="stylesheet" href="{{ site.url }}/css/{{ stylesheet }}.css" media="screen" type="text/css">
	  {% endfor %}
	{% endif %}
	<!-- Background Image -->
    {% if site.background %}
    {% capture background %}{{ site.background }}{% endcapture %}
    {% unless background contains 'http://' or background contains 'https://' %}{% capture background %}{{ site.url }}/{{ background }}{% endcapture %}{% endunless %}
    <style type="text/css">body {background-image:url({{ background }}); {% unless site.tiled_bg %} background-repeat: no-repeat; background-size: cover; {% endunless %}}</style>
    {% endif %}
</head>
