<!DOCTYPE html>
<html>
{% include head.html %}
<body class="list">
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    {% for sketch in site.sketches %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ sketch.title }}</a>
                            <p>{{ sketch.excerpt }}</p>
                            <a href="{{ site.url }}{{ sketch.url }}" class="btn zoombtn">Read More</a>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
